<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccessDBSerializer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AccessDBSerializer.Properties.Settings>
            <setting name="WorkingFolder" serializeAs="String">
                <value>C:\dev\MMSD\DARC\Source\Metrogro</value>
            </setting>
            <setting name="AccessDBFilename" serializeAs="String">
                <value>C:\dev\MMSD\DARC\Source\Metrogro\Metrogro.accdb</value>
            </setting>
        </AccessDBSerializer.Properties.Settings>
    </userSettings>
</configuration>